
.footer{
    position: relative;
   bottom: -50px;
    left: 50%;
    width: 100%;
    display: flex;
    flex-flow: row-reverse wrap;
    gap: 35.5%;
    transform: translateX(-50%);
   
   
   

}
.footer h3{
    font-size:1.8rem;
    
    
}
.footer h2{
    font-size:1.1rem;
    position: relative;
    bottom: -30px;
    right:10px
}

.footer i{
    position: relative;
    top: 20px;
    left: -25%;
    padding: 0 20px;
    color: #4C411A;
}

.footer i:hover {
    color: #361a4c;
}