/* body {
    margin: 0;
    box-sizing: border-box;
    /* background-color: #e9edf0; 
} */

h2 {
    font-size: 2.6rem;
}

p {
    font-size: 1.3rem;
}

.aboutUsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem;
}

.historySection {
    background-color: #f6fafe;
}

.howCard {
    transition: 275ms ease;
}
.howCard:hover {
    transition: 275ms ease;
    box-shadow: 1px 1px 7px 1px rgba(206, 206, 206, 0.804);
}


.howToSection {
    margin-bottom: 10rem;
}

.btn4 {
	text-decoration: none;
    border: 1px solid rgb(146, 148, 248);
    position: relative;
    overflow: hidden;
	margin: 0 10px;
}

.btn4:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
  }
  
  .btn4:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(146, 148, 248, 0.4),
      transparent
    );
    transition: all 650ms;
  }
  
  .btn4:hover:before {
    left: 100%;
  }
  .btn4 a {
      text-decoration: none;
      font-size: 2rem;
  }

