
.card-pose {
	width: 7.5rem;
	height: 9rem;
	box-shadow: 10px 4px 6px #4c411a;
	overflow: hidden;
	text-align: center;
	cursor: grabbing;
	border: 1px solid #d3cdb7;
}

.card-img-top {
	cursor: grabbing;
	width: 100%;
	height: 65%;
	object-fit: contain;

}

.card-body {
	height: 10%;
	padding: 0;
}
.card-text {
	height: 55%;
	font-size: 0.7rem;
	text-transform: capitalize;
	font-weight: bold;
	cursor: grabbing;
	margin: 0;
}

.badge {
	font-size: 0.6rem;
	padding: 2px;
	text-shadow: 2px 2px 3px black;
	letter-spacing: 1.5px;
}

.bg-beginner {
	background-color: #2a9d8f;
}

.bg-intermediate {
	background-color: #f4a261;
}

.bg-expert {
	background-color: #e76f51;
}