.nav {
    display: flex;
    justify-content: flex-end;
  


}
.nav a {
    text-decoration: none;
    list-style-type: none;
    padding: 0 15px;
}
.nav a:focus {
    color: black;
}

.nav li::after{
    content: '|';
    padding-right:2px;
    font-size: 20px;
}