.modal {
    position: fixed;
    overflow: hidden;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
    /* background-color: rgba(0, 0, 0, 0.65); */
    background-color: #f6fafe;
    /* width: 900px; */
    width: 65%;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 1.5em 1em; */
    z-index: 999999;
    box-sizing: border-box;
    transform: translate(-50%, -50%);

    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.22);
    border-radius: 17px;
}
.card-img-top1 {
    max-width: 50%;
    height: 400px;

    object-fit: contain;
}

.modal.modal-fade {
    animation: fade-in 1s 1 linear;
    animation-fill-mode: forwards;
    opacity: 0;
}

.modal > .modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.modal > .modal-close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-weight: bolder;
    /* color: #5e5e5e; */
    color: #000000;
    cursor: pointer;
    font-size: 1.25em;
    padding: 7px;
    /* background: rgba(255, 255, 255, 0.749); */
    /* border: 1px solid #c3c0c0; */
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    transition: 300ms ease;
}

.modal > .modal-close:hover {
    background: rgba(255, 255, 255, 0.989);
    /* filter: invert(); */
    border-radius: 50%;
    transition: 300ms ease;
    box-shadow: 1px 1px 7px 1px rgba(206, 206, 206, 0.804);
}

.modal > .modal-body {
    display: flex;
    align-items: center;
    padding: 0;
    z-index: 2;
    position: relative;
    margin: 0 auto;
    /* background-color: #303030; */
    background-color: #f6fafe;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
    /* padding: 15px 20px; */
    /* padding: 15px 20px; */
    /* color: #c3c0c0; */
    color: #000000;
}

@keyframes fade-in {
    0% {
        animation-timing-function: cubic-bezier(0.2242, 0.7499, 0.3142, 0.8148);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
