.footermain{
  position: relative;
  
  
    width: 100%;
    display: flex;
    flex-flow: row-reverse wrap;
 
   
   
   
   

}
.footermain h3{
    font-size:1.8rem;
    position: relative;
    top: -40px;
    right: 40.4%;
    transform: translateX(50%);
}
.footermain h2{
    font-size:1.1rem;
    position: relative;
    top: 35px;
    right:10px
}

.footermain i{
    position: relative;
    top: 40px;
    left: -47px;
    padding: 0 20px;
}