@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  box-sizing: border-box;
}
body {
  background-color: #f4eed9;
  font-family: 'Indie Flower', cursive;
  height: 100vh;
}
